.about-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    margin-top: 1.5rem;
}

.vertical-timeline--animate .vertical-timeline-element-content.bounce-in {
    background-color: #fc7b54;
    color: white;
    border-radius: 10px;
}

.vertical-timeline-element-date {
    color: black;
    font-weight: bold;
}

.about {
    margin-top: 3rem;
}

.about-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;

    margin-left: 2rem;
}

.about-img {
    margin-right: 8rem;
}

.paragraph {
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    margin-top: 1rem;
    font-size: 1.4rem;
}

@media screen and (max-width: 960px) {
    .vertical-timeline-element-date {
        color: white;
    }

    .about-icon {
        font-size: 1.8rem;
        margin-top: 1.1rem;
    }

    .about-text {
        width: 80%;
        margin-left: 0;
    }

    .paragraph {
        width: 100%;
        text-align: center;
    }

    .about-img {
        margin-right: 0;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .vertical-timeline-element-date {
        color: white;
    }

    .about-icon {
        font-size: 1.8rem;
        margin-top: 1.1rem;
    }

    .about-img {
        margin-right: 0;
    }

}