.contact-h1 {
    color: rgb(255, 65, 7);
    font-size: 4rem;
}

form h1 {
    color: #fc7b54;
    margin-top: 2rem;
}


.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5rem 0;
}

form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 590px;
    width: 500px;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.2);
}

form .name,
.email,
.textarea {
    margin-top: 3rem;
    width: 90%;
    text-align: center;
    display: flex;
    justify-content: center;
    resize: none;
    outline: none;
    border-radius: 8px;
    border: 0.1px solid #fc7b54;
    font-size: 1.5rem;
    padding: 5px;


}

.textarea {
    padding-top: 4rem;
}

.name:focus {
    outline: none;
}

.email:focus {
    outline: none;
}

.textarea:focus {
    outline: none;
}

.name,
.email {
    height: 40px;
}

.submit {
    margin-top: 4rem;
    font-size: 2rem;
    background-color: #fc7b54;
    padding: 10px;

}

.submit:hover {
    background-color: black;
}

.submit-msg {
    margin: 1.5rem 0;
    font-size: 2rem;
}

.contact-img {
    height: 100%;
    width: 100%;
    animation: floating 5s linear infinite;
}

.contact-img-container {
    height: 630px;
    width: 630px;
}

.link-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 13rem;
    height: 4rem;
    border: none;
    border-radius: 10px;
    background-color: #fc7b54;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
}

.link-btn:hover {
    transition: 0.3s ease;
    background-color: white;
    color: #fc7b54;
    border: 2px solid #fc7b54;
}


@media screen and (max-width: 760px) {
    .contact-container {
        flex-direction: column;
        margin: 3rem 0;
    }

    form {
        height: 450px;
        width: 310px;
        margin: 3rem 0;
    }

    form .name,
    .email,
    .textarea {
        margin-top: 3rem;
        font-size: 1.5rem;
    }

    .submit {
        font-size: 1.5rem;
    }

    .submit-msg {
        font-size: 1.3rem;
        transition: 0.3s ease;
    }

    .contact-img-container {
        height: 350px;
        width: 330px;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .contact-container {
        flex-direction: column;
        margin: 3rem 0;
    }

    form {
        height: 620px;
        width: 520px;
        margin: 3rem 0;
    }

    form .name,
    .email,
    .textarea {
        margin-top: 4rem;
        font-size: 1.6rem;
    }

    .submit {
        font-size: 2.3rem;
    }

    .submit-msg {
        font-size: 2rem;
        transition: 0.3s ease;
    }

    .contact-img-container {
        height: 490px;
        width: 520px;
    }
}