.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #fc7b54;
}

.error-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.error-heading {
    font-size: 4rem;
    margin-bottom: 1rem;
    /* color: #fc7b54; */
}

.error-text {
    font-size: 1.5rem;
    /* color: #fc7b54; */
}

.back-home-link {
    display: inline-block;
    background-color: #fc7b54;
    color: #fff;
    font-size: 1.2rem;
    text-decoration: none;
    margin-top: 20px;
    /* transition: background-color 0.3s ease; */
    padding: 1.4rem 1.4rem;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

.back-home-link:hover {
    background-color: black;
    transition: 0.3s ease;
}


.error-icon {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.error-heading {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.error-text {
    font-size: 1.5rem;
}