* {
    font-family: 'Montserrat', sans-serif;
}

.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    overflow: hidden;
}



.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    padding-left: 10rem;
}



.main-text {
    flex: 1;
    color: rgb(255 65 7);
}

.hero-img {
    height: 450px;
    width: 500px;
    margin-right: 10rem;
    animation: floating 5s linear infinite;
}

.tailwind-logo {
    width: 30px;
    height: 30px;
    margin-left: 5px;

}

.lineDiv {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;

}

.project-line {
    margin-top: 30px;
    color: inherit;
    font-size: 2rem;
    /* text-align: center; */
    width: 500px;
    padding: 0 10px;
    word-break: keep-all;

}

.button {

    border: none;
    background-color: black;
    color: white;
    /* padding: 1.4rem 1.4rem; */
    padding: 1.5rem;
    border-radius: 10px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    margin-top: 5rem;

}

.button:hover {
    background-color: #fc7b54;
    transition: 0.3s ease;
}




.head {
    font-size: 3.5rem;
    padding: 0;
    color: rgb(255, 65, 7);
}

.skill-img {
    height: 400px;
    width: 530px;
    animation: floating 5s linear infinite;
}

.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 15rem;
}

.skill-list {
    font-size: 2.9rem;
    margin-top: 1rem;
    gap: 1rem;
    font-weight: bold;
}

.simg {
    margin-left: 2rem;
}

.skill-list li {
    margin-top: 1rem;
}


/*  */

@media (max-width: 768px) {
    .main {
        flex-direction: column;
        gap: 4rem;
        margin-top: 30px;
    }

    .hero-img {
        height: 350px;
        width: 350px;
        margin: 1rem;
    }

    .intro {
        font-size: 2.5rem;
    }

    .main-text {
        font-size: 1.9rem;
    }

    .text {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button {
        margin-top: 2rem;
    }

    .fd {
        flex-direction: column-reverse;
    }

    .skills {
        margin-right: 0;
    }

    .skill-img {
        height: 260px;
        width: 350px;
        margin: 1rem;
    }

    .project-line {
        width: 350px;
    }
}
#id{
    margin-top: 80px;
}
@media (min-width: 768px) and (max-width:1023px) {
    .main {
        flex-direction: column;
        gap: 4rem;
    }

    .hero-img {
        height: 550px;
        width: 580px;
        margin: 1rem;
    }

    .intro {
        font-size: 5rem;
    }

    .main-text {
        font-size: 3.4rem;
    }

    .text {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .button {
        margin-top: 2rem;
    }

    .fd {
        flex-direction: column-reverse;
    }

    .skills {
        margin-right: 0;
    }

    .skill-img {
        height: 450px;
        width: 650px;
        margin: 1rem;
    }

    .project-line {
      width: 400px;
    }
}