.navbar {
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    color: black;
    z-index: 210;
    width: 100%;
}

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    max-width: 1500px;
}

.nav-logo {
    color: black;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 3rem;
    flex-grow: 1;
    font-weight: bold;
}

.r {
    font-family: "Nunito";
    color: rgb(255, 65, 7);
    font-size: 4.5rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin-right: 2rem;
}

.nav-links {
    color: black;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    border-bottom: 3px solid transparent;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 600;
    font-family: "Montserrat", serif;
}

.fa-code {
    margin-left: 1rem;
}

.nav-item {
    line-height: 40px;
    margin-right: 1rem;
}

.nav-item:after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
    width: 100%;
    background: #fc7b54;
}

.active {
    color: #fc7b54;
}

.nav-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .nav-menu {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        border-top: 1px solid #fff;
        position: absolute;
        top: 80px;
        left: -110%;
        background-color: #fff;
        opacity: 1;
        transition: all 0.5s ease;
        
    }

    .nav-menu.active {
        /* background: #1f5156; */
        left: 0px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }



    .nav-links {
        padding: 1.5rem;
        width: 100%;
        display: table;
    }

    .nav-icon {
        display: block;
        position: absolute;
        top: 6px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 3rem;
        cursor: pointer;
        color: #fc7b54;
    }
}