@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Nunito:wght@300;400;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Poppins", serif;
}
body{
    min-height: 100vh;
    background-color: #fff;
}
li{
    list-style-type: none;
}
.text-center{
    text-align: center;
}
@keyframes floating {

    0%,
    100% {
        transform: translateY(0rem);

    }

    50% {
        transform: translateY(-1rem);

    }
}